# dependencies
node_modules/

# build outputs
.next/
out/
dist/
build/

# system files
.DS_Store

# environment variables
.env*

# coverage reports
coverage/

# Playwright
test-results/

# IDE/editor configs
.idea/
*.local
.vscode/

# logs and temp
*.log

npm-debug.log
pids
*.sw*
